body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}
.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
}
.login-container button:hover {
    background-color: #218838;
}
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 800px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: left;
    justify-content: center;
}

.resultadoItem {
    border: 2px solid #1699b7;
    border-radius: 5px;
    background-color: #8fcedc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(33% - 20px);
    box-sizing: border-box;
}

.buscadores {
    display: flex;
    width: 800px;
    border-radius: 10px;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: nowrap;
}

.buscador1 {
    display: flex;
    background-color: coral;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    flex-direction: column;
}

.buscador2 {
    display: flex;
    background-color: cornflowerblue;
    padding: 15px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    flex-direction: column;
}

.btnBuscar {
    background-color: rgb(243, 87, 30);
    width: 100%;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnBuscar:hover {
    background-color: coral;
}

.btnBuscar1 {
    background-color: rgb(30, 99, 228);
    width: 100%;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnBuscar1:hover {
    background-color: cornflowerblue
}

.inputText {
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background: none;
    
}

.inputText:focus {
    border-color: #007bff;
    outline: none;
}


.productImagenCont {
    display: flex;
    width: 100%;
    height: 170px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.productoImagen {
    display: flex;
    max-width: 150px;
    max-height: 150px;
    align-items: center;
    justify-content: center;
    
}

.productoInfo {
    flex: 1;
    padding-left: 10px;
    align-items: center;
}
.productoGuardado {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.productoGuardado strong {
    display: block;
    margin-top: 5px;
}

.total {
    margin-top: 20px;
    font-weight: bold;
}

.confirmarCompra {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.confirmarCompra:hover {
    background-color: #45a049;
}

.eliminar-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.eliminar-btn:hover {
    background-color: #d32f2f;
}

h3{
    color: rgb(10, 113, 129);
    font-size: 35px;
}

.styled-input {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.resultado-item {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
}

.prodouctoInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.producto-imagen img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 16px;
}

.productoDetalles, .productoPresupuesto {
    margin-left: 16px;
    margin-top: 8px;
    font-size: 15px; 
    width: 100%;
}

.productoDimensiones {
    margin-top: 8px;
    font-size: 20px;
}

.productoColores {
    margin-top: 4px;
    font-size: 20px;
}

.productoPresupuestoCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #000000;  
}

.nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f7a92;
    width: 100%;
}


.productoPrecios {
    margin-top: 10px;
    margin-bottom: 8px;
}

.contenedor {
    display: flex;
    justify-content: center;
    
}

.guardarBtnCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #047f7f;
}

.guardarBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
    height: 40px;
}

.guardarBtn img {
    display: block;
    width: 50px;
    height: auto;
}




.total {
    margin-top: 20px;
    font-weight: bold;
}

.confirmarCompra {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.confirmarCompra:hover {
    background-color: #45a049;
}

.eliminar-btn {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.eliminar-btn:hover {
    background-color: #d32f2f;
}

#contenedorGuardados {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.productoGuardado {
    padding: 10px;
    border: 2px solid #52cfec;
    border-radius: 5px;
    background-color: #bde8f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(33% - 20px);
    box-sizing: border-box;
    position: relative;

}

.headerColor {
    background-color: #07586a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    width: 100%;
}

.successContainer {
    flex-grow: 1;
    text-align: left;
    margin-left: 60px;
}

.successContainer p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
}

#irAlCarrito {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.productoGuardado {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
}

.productoContent {
    display: flex;
    align-items: center;
    width: 100%;
}

.eliminarImg {
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.productoInfo {
    flex: 1;
}

a {
    color: #07586a;
    text-decoration: none; 
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

a:hover {
    background-color:#07586a;
    color: #ffffff;
}

#carritoContenedor {
    position: relative;
    display: inline-block;
}

.toastify {
    position: absolute !important;
    top: 0;
    left: 850px;
    transform: translateY(-100%);
}


